<div class="container" style="background-color: rgb(27, 27, 27); margin-bottom: 120px; color: white;">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center; font-size: 3rem; margin-top: 30px;" >Contacto</h1><br>
            <hr style="background-color: white;">
            <div class="jumbotron mt-5" style="background-color:rgba(0, 0, 0, 0.246); border-radius: 0; text-align: center;">
                <div class="container">
                    <div class="row" style="text-align: center;">
                        <!-- Columna de redes -->
                        <div class="col"> 
                            <a href="https://www.facebook.com/revueltoderadio/"><img src="../../../assets/imaganes/facebook.png" alt=""><h1>Facebook/revueltoderaido</h1></a>              
                            <a href="https://www.instagram.com/revueltoderadio/"><img src="../../../assets/imaganes/ig.png" alt=""><h1>Instagram/revueltoderaido</h1></a>                   
                            <a href="mailto:revueltoderadio@gmail.com"><img src="../../../assets/imaganes/gmail.png" alt=""><h1>Gmail: revueltoderadio@gmail.com</h1></a>
                            <a href="https://wa.me/5491126124368">  <img src="../../../assets/imaganes/wpp.png" alt=""><h1>WhatsApp: +54 9 11 2612-4368</h1></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
