<div class="container" style="background-color: rgb(27, 27, 27); margin-bottom: 120px; text-align: center;">
    <div style="color: azure;">
        <h1 style="color: red; font-size: 2rem; padding: 1rem;">Lista de Discos</h1>
        <p>Aca podes encontrar todas nuestras reseñas de los albunes</p>
    </div>
    <div class="jumbotron" style="background-color:rgba(0, 0, 0, 0.246); border-radius: 0; text-align: center; padding: 1rem 1rem;">
        <div class="row" style="text-align: center;">
            <div class="col" style="text-align: center; margin: auto;"   *ngFor="let disco of img">
                <div class="card" style="width: 18rem;text-align: center; margin: auto;">
                    <a href="" [routerLink]="['/disco', disco.id]"
                    routerLinkActive="router-link-active">
                    <img src="{{disco.foto}}" alt="" class="card-img-top" style="text-align: center;"></a>
                </div>
            </div>
        </div>
    </div>
</div>